[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/JesusJimenezG/DeliverTrack-api-gateway.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/JesusJimenezG/DeliverTrack-auth-service.git
[submodule "live-tracking-service"]
	path = live-tracking-service
	url = https://github.com/JesusJimenezG/DeliverTrack-live-tracking-service.git
[submodule "shared-modules"]
	path = shared-modules
	url = https://github.com/JesusJimenezG/DeliverTrack-shared-modules.git
[submodule "orders-service"]
	path = orders-service
	url = https://github.com/JesusJimenezG/DeliverTrack-orders-service.git
