version: "3"
services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "80:80"
    volumes:
      - ./api-gateway/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - live-tracking-service
      - auth-service
      - postgres
      - redis-server
    networks:
      - backend-network

  auth-service:
    build: ./auth-service
    depends_on:
      - postgres
    ports:
      - "4000:4000"
    volumes:
      - ./auth-service:/usr/src/app
      - /usr/src/app/node_modules
      # - ./session-authentication-middleware:/usr/src/session-authentication-middleware
    env_file:
      - ./auth-service/.env
    networks:
      - backend-network

  live-tracking-service:
    build: ./live-tracking-service
    depends_on:
      - redis-server
    ports:
      - "4001:4001"
    volumes:
      - ./live-tracking-service:/usr/src/app
      - /usr/src/app/node_modules
      # - ./session-authentication-middleware:/usr/src/session-authentication-middleware
    env_file:
      - ./live-tracking-service/.env
    networks:
      - backend-network

  postgres:
    image: postgres:15.2-alpine3.17
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - backend-network

  redis-server:
    image: redis:7.0.10-alpine
    restart: always
    volumes:
      - redis:/data
    ports:
      - "6379:6379"
    networks:
      - backend-network
    env_file:
      - .env
    # command:
    #   - redis-server --requirepass ${REDIS_PASSWORD}

  redis-insight:
    image: redislabs/redisinsight:latest
    depends_on:
      - redis-server
    restart: always
    ports:
      - "8001:8001"
    networks:
      - backend-network
    env_file:
      - .env
    # command:
    #   - --redis-url redis://redis-server:6379

networks:
  backend-network:


volumes:
  redis:
    driver: local
